@import "tailwindcss";

@theme {
  --color-primary: #00592f;
  --color-secondary: #c8f100;
  --color-dark: #26272c;
  --color-gray: #545454;
  --color-light: #727272;
  /* --color-Secondary-Theme: rgb(133, 169, 71);
  --color-Primary-Theme: rgb(62 123 39);
  --color-Dark-Theme: rgb(18 53 36);
  --color-Light-Theme: rgb(239 227 194); */

  /* ... */
}

.test {
  border: 1px solid red;
}
