@tailwind base;
@tailwind components;
@tailwind utilities;

/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

:root {
  --bg-primary: #202227;
  --bg-secondary: #414142;
  --bg-unique: #bde255;
  --text-unique: #b1eb5b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.bg-primary {
  background-color: var(--bg-primary);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-unique {
  background-color: var(--bg-unique);
}
.text-unique {
  color: var(--text-unique);
}

.test {
  border: 1px solid red;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-glass {
  background: #5a4b4b;
  backdrop-filter: blur(10px);
}
.btn {
  padding: 0.3rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  background: var(--bg-unique);
}

.text-ubuntu {
  font-family: "Ubuntu", sans-serif;
}
